:root {
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1rem;
  font-family: sans-serif;
}
img {
  object-fit: cover;
  object-position: center;
}
/* layout */
.w1 {
  width: 75vw;
  max-width: 1200px;
}
.w2 {
  width: 65vw;
  max-width: 900px;
}
/* button */
.btn {
  border-radius: 10px;
  padding: 0.4em 2.4em;
  border: none;
}
/* header */
.header {
  color: #e5e7eb;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* nav */
.nav {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  width: 150px;
  height: 40px;
}
.nav__list {
}
.nav__item {
  list-style: none;
  padding: 0 0 0 1.5em;
  margin: 0;
  display: inline;
}
.nav__link,
.nav__link:visited {
  text-decoration: none;
  color: #e5e7eb;
}
.nav__link:hover {
  color: #fff;
}
/* banner */
.banner {
  margin: 90px 0 120px;
  display: flex;
  gap: 2vw;
}
.banner__img {
  flex: 1;
  width: 0;
  max-height: 240px;
}
.banner__des {
  flex: 1;
}
.des__head {
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem 0 1rem;
  line-height: 1;
}
.des__text {
  margin-bottom: 0;
}
.des__btn {
  background-color: #3882f6;
  color: #fff;
  margin-top: 1em;
  padding: 0.5em 2.5em;
}
/* info section */
.info {
  margin: 20px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__head {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.info__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
}
.info__item {
  display: flex;
  flex-direction: column;
}
.iitem_img {
  max-width: 100%;
  border-radius: 10px;
}

/* quotes section */
.quote {
  padding: 100px 0 70px;
  background-color: #e5e7eb;
}
.quote__wrap {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.quote__text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}
.quote__origin {
  font-weight: 700;
  font-size: 18px;
  align-self: flex-end;
}
/* call section */
.call {
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  color: #fff;
  margin: 80px auto;
  padding: 30px;
}
.call__btn {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  align-self: center;
}
/* footer */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.footer p {
  margin: 0;
}
